@import "reset";

$default-box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.25);
$default-font-color: black;
$item-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.04),
  2px 2px 20px 0px rgba(0, 0, 0, 0.06);

$green-background: #37d0ac;

html {
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none !important;
}

.main-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $green-background;
  font-size: 16px;
  padding: 0.5rem 0.75rem;
  color: #fff;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  box-sizing: border-box;
  z-index: 1;

  & > div {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-top-left-radius: 15px; /* 좌측 상단 border radius 추가 */
  border-top-right-radius: 15px; /* 우측 상단 border radius 추가 */
  box-shadow: $default-box-shadow;

  & > div {
    cursor: pointer;
    color: $default-font-color;
    font-size: 16px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 16px;
}

.grid-box {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 1rem 0;

  & > div {
    box-shadow: $item-box-shadow;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

.title {
  display: flex;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  display: inline-block;
  letter-spacing: -0.025rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
  font-weight: 700;
  width: 100%;
}

.desc {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: -0.025rem;
  width: fit-content;
}

.square-image {
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  aspect-ratio: 1;
}

/** default input */
input[type="text"] {
  height: 32px;
  font-size: 16px;
  width: 100%;
  border: 0;
  outline: none;
  background-color: rgb(233, 233, 233);
}
